emacs.d/
/.abbrev_defs
.mc-lists.el
recentf
smex-items
srecode-map.el
company-statistics-cache.el
emacs-custom.el
places
*.elc
*.eld
/eshell/history
/eshell/lastdir
/elpa
/quelpa
/tramp
/auto-save-list
\#*\#
/custom.el
transient/**
